# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

#video folders
temp/
cuts/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

src/s3-config.ts

s3-config.js
test.js
.env
ecosystem.config.js
