<div style="display: flex; flex-direction: column; justify-content: center;;">
  <a href="{{videoUrl}}"> <h2> {{videoTitle}} </h2></a>
  <img src="{{thumbs[0].url}}" width="{{thumbs[0].width}}" height="{{thumbs[0].height}}" alt="">
  <form action="/" method="post">
    <input type="text" name="keyword" id=""/>
    <input type="submit"/>
  </form>
</div>
{% for line in subtitleLines %}
  <a href="https://www.youtube.com/watch?v={{videoId}}&t={{line.start}}s"> 
  <p> {{line.start}} | {{line.text}}</p>
  </a>

  {# <iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/QPjhAZd1RLI?start=" + {{line.start}} 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe> #}
{% endfor %}