{% extends "layout.njk" %}
{% block  content %}
<div class="content-grid" x-data="videoSearch()">
  {% include "../views/_partials/search-area.njk" %}
  {% include "../views/_partials/video-download.njk" %}
</div>
{% endblock %}