<!doctype html>
<html lang="en">
  <head>
    <title>Make Supercuts From YouTube Vids</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"> 
    <link type="text/css" rel="stylesheet" href="/styles/styling.css">
    <link type="text/css" rel="stylesheet" href="/styles/loader.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
    <script>history.scrollRestoration = "manual"</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </head>
  <body>
    {% block  content %}
    {% endblock %}
    {% include "../views/_partials/supercut-list.njk" %}
    <script src="/scripts/fetching.js"></script>
    <script src="/scripts/supercut-list.js"></script>
    <script src="/scripts/socket.js"></script>
    <script src="/scripts/scroller.js"></script>
  </body>
</html>
