<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/styling.css">
  </head>
  <body>
    {% block  content %}
    {% endblock %}
  </body>
</html>
