<div x-data="cookies()" x-init="initialize()" class="cookie-banner" :class="{'hide': hide}">We use cookies to save your created Supercuts, so you can come back and find them. Is that okay? 
<div class="cookie-buttons">
<button @click="allowCookies" aria-label="Allow cookies">Allow cookies</button><br/><button @click="disallowCookies" aria-label="Do not allow cookies">No cookies</button>
</div></div>