<div x-data="cookies()" x-init="initialize()" class="cookie-banner" :class="{'hide': hide}">We use cookies to save your created Supercuts, so you can come back and find them. Is that okay? 
<div class="cookie-buttons">
<button @click="allowCookies">Allow cookies</button><br/><button @click="disallowCookies">No cookies</button>
</div></div>