<template x-if="isLoading">
  <div class="loader wrapper">
    <div class="lds-grid">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div> 
  </div>
</template>