<div class="wrapper">
  <div class="search-group">
    <label for="youtube-video">Enter a video ID or URL</label>
    <input type="text">
  </div>
  <div class="search-group">
    <label for="search-term">What word do you want to supercut</label>
    <input type="text">
  </div>
</div>