
<div class="wrapper fixed-h">
  <div >
    <h3>Find a video then search for a term</h3>
      <div class="search-group">
        <label for="youtube-video">Enter a video ID or URL</label>
        <div class="input-group">
          <input 
            type="text" 
            name="videoURLOrID"
            x-model="videoURLOrID">
          <button 
            type="submit"
            @click="searchYoutube"
            :disabled="isLoading || videoURLOrID == ''"
            >
            Find the video
          </button>
        </div>
      </div>
    <div class="search-group">
      <label for="search-term">What word do you want to supercut</label>
      <div class="input-group">
        <input 
          type="text"
          name="filterWord"
          x-model="filterWord">
        <button 
          type="submit"
          @click="filterCaptions"
          :disabled="!videoFound"
          >Filter captions</button>        
      </div>
      <button
          @click="downloadVideo"
          :disabled="!hasFiltered || isLoading || !videoFound || filteredCaptions.length < 1"
          >Create Supercut</button>
      </div>
    {% include "./video-search-results.njk" %}
  </div>
</div>
